.t-tbl-block {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.truth-table {
  width: auto;
}

.truth-table th,
.truth-table td {
  min-width: 40px;
}

.truth-table th {
  background-color: #007bff;
  border: 1px solid white;
  color: white;
}

.truth-table td {
  border: 1px solid #d1d5db;
  vertical-align: middle;
  padding: 2px !important;
}

.truth-table input::placeholder {
  color: rgb(234, 110, 131);
  opacity: 1;
}

.truth-table input[type="text"] {
  padding: 2px;
  min-height: calc(1.5em + 2px);
  text-align: center;
}

.truth-table>tbody>tr:nth-child(odd)>td {
   background-color: white;
 }

 .truth-table>tbody>tr:nth-child(even)>td {
   background-color: #F3F3F3;
 }

.input-column + .output-column {
    border-left: 3px solid #d1d5db;
}

.info-button {
  padding: 0;
}

.result-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group-text {
  color: transparent;
  background-color: transparent;
  border: none;
}

.info-button {
  width: 40px;
}
